.document-link {
  cursor: pointer;

  &__text {
    color: #1376cd !important;
    text-decoration: underline !important;
    margin-right: 6px;
  }

  &__icon {
    position: relative;
    top: -2px;
    margin-left: 2px;
  }
}