.document-link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__text {
    color: #1376cd !important;
    text-decoration: underline !important;
  }

  &__icon {
    position: relative;
    top: -2px;
    margin-left: 6px;
  }
}