.custom-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;

  .ant-modal {
    margin-top: 36px;
  }

  .ant-modal-header, .ant-modal-close {
    display: none;
  }

  .ant-modal-body, .ant-modal-footer {
    padding: 0px;
    border-top: none;
    border-bottom: none;
  }

  &__header {
    height: 99px;
    width: 100%;
    background: #e5e9fb;
    padding: 17px 20px 18px 40px;
    border-radius: 5px 5px 0px 0px;

    h1 {
      font-family: 'Lato-Bold';
      font-size: 24px;
      color: $black;
      margin-bottom: 8px;
    }
    p {
      font-family: 'Lato-Regular';
      font-size: 16px;
      color: $black;
    }
  }

  &__close-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
    background-image: url('https://storage.googleapis.com/hokela-bucket/icons/close-btn.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;

    div {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  &__body {
    padding: 20px 40px 0px 40px;
  }
}