<!DOCTYPE html>
<html>

<head>
  <title>Hokela</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body style="background: rgb(241, 242, 244)">
  <div id="root"></div>
</body>

<script type="text/javascript" src="bundle.js"></script>

</html>
