.loading-container {
  &__overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(144, 144, 144, 0.3);
    display: inline-flex;
    backdrop-filter: blur(2px);
  }
}