.hero {
  height: 600px;
  background: rgb(83,120,149);
  background: linear-gradient(0deg, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
  padding-top: 139px;
  padding: 139px 42px 0px 42px;
  text-align: center;

  h1 {
    font-family: "Lato-Black";
    font-size: 40px;
    color: white;
    margin: 0px;
    margin-bottom: 70px;
  }

  .search {
    width: 100%;
    height: 74px;
    background: transparent;
    // background: red;
    border-radius: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
    p {
      position: absolute;
      color: white;
      text-align: center;
      width: 100%;
    }
  }
  
  &__search-btn {
    margin-top: 40px;
  }
}