.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  
  &--home {
    height: 621px;
    .hero__parallax {
      background-image: url('https://static.wixstatic.com/media/e62cb98487c04073b5b31a2107d99d13.jpg/v1/fill/w_1356,h_946,al_c,q_85,usm_0.66_1.00_0.01/e62cb98487c04073b5b31a2107d99d13.webp');
    }
  }
  &--find-causes {
    height: 518px;
    .hero__parallax {
      background-image: url('https://static.wixstatic.com/media/nsplsh_716f365f6d6f3964735967~mv2_d_5123_3415_s_4_2.jpg/v1/fill/w_1680,h_728,al_t,q_85,usm_0.66_1.00_0.01/nsplsh_716f365f6d6f3964735967~mv2_d_5123_3415_s_4_2.webp');
    }
  }

  &__parallax {
    background-repeat: no-repeat;
    background-size: cover;
    width: 1680px;
    height: 728px;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .ant-row {
      height: 100%;
    }
    .ant-col {
      &:last-of-type {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}