@mixin columnWidth($cols) {
  width: calc(((100% - (11 * 20px)) / 12) * #{$cols} + (#{$cols - 1} * 20px)) !important
}

.xfilters {
  padding: 0px 10px !important;
  margin-right: -12px;

  &__col {
    height: 74px;
    @include columnWidth(2.4);
    margin-right: 20px;

    &:nth-child(5) {
      margin-right: 0px;
    }
    &:nth-child(10) {
      margin-right: 0px;
    }

    &:last-of-type {
      .xfilters__item {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  .xbtn {
    width: 100% !important;
  }

  &__item {
    height: 100%;
    width: 100%;
  }

  &__input {
    height: 74px;
    width: 100%;
    padding: 15px 14px;
    border-radius: 10px;
    box-shadow: 0 0 11px -4px #afaca9;

    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
        color: #212121;
        margin-bottom: 7px;
      }
      &:last-child {
        font-family: "Lato-Regular";
        font-size: 14px;
        color: #878380;
      }
    }
  }
}