@mixin columnWidth($cols) {
  width: calc(((100% - (11 * 20px)) / 12) * #{$cols} + (#{$cols - 1} * 20px)) !important
}

.xfilters {
  padding: 0px 10px !important;
  margin-right: -12px;
  margin-bottom: 30px !important;

  &__col {
    height: 74px;
    @include columnWidth(2.4);
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0px;
    }

    &:last-of-type {
      .xfilters__item {
        display: inline-flex;
        align-items: center;
      }
    }
  }

  .xbtn {
    width: 100% !important;
  }

  &__item {
    height: 100%;
    width: 100%;
  }

  &__input {
    height: 74px;
    width: 100%;
    padding: 15px 14px;
    border-radius: 10px;
    box-shadow: 0 0 11px -4px #afaca9;

    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-of-type {
        font-family: "Lato-Regular";
        font-size: 14px;
        color: #878380;
      }
    }
  }

  &__top {
    display: inline-flex;
    width: 100%;
    position: relative;
    top: -5px;

    p {
      width: calc(100% - 23px) !important;
      font-family: "Montserrat-SemiBold" !important;
      font-size: 12px !important;
      color: #212121 !important;
      margin-bottom: 7px !important;
    }
  }

  &__clear-btn {
    height: 23px;
    width: 23px;
    background: #afaca9;
    border-radius: 50%;

    span {
      margin: 0;
      font-size: 21px;
      line-height: 1;
      color: white;
      position: relative;
      left: 5.4px;
      cursor: pointer;
    }
  }

  &__display-text {
    &--active {
      font-family: 'Lato-Regular' !important;
      color: black !important;
    }
  }
}