@keyframes enableOverflow {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

@keyframes disableOverflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}

@keyframes moveUp {
  from {
    top: 0px;
    width: 100%;
    height: 74px;
  }
  to {
    top: -53px;
    height: 40px;
    width: 200px;
  }
}
@keyframes moveDown {
  from {
    top: -53px;
    height: 40px;
    width: 200px;
  }
  to {
    top: 0px;
    width: 100%;
    height: 74px;
  }
}

@mixin columnWidth($cols) {
  width: calc(((100% - (11 * 20px)) / 12) * #{$cols} + (#{$cols - 1} * 20px)) !important
}

.xsearch-bar {
  pointer-events: all;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  &--padding {
    padding: 0px 42px;
  }

  top: 0px;
  width: 100%;
  height: 74px;


  &__input {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 35px;
    cursor: pointer;
    text-align: left;
    z-index: 1;

    p {
      font-family: "Montserrat-SemiBold";
      font-size: 12px;
      margin: 0;
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;

    &--native {
      .xsearch-bar__input {
        box-shadow: 0 7px 20px 4px rgba(162, 180, 198, 0.39), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
        @include columnWidth(10);
      }
    }
  }

  &__btn {
    width: 140px;
    margin-left: 20px;
    @include columnWidth(2);
  }

  &__icon {
    height: 26px;
    width: 26px;
    background: #ff6161;
    position: absolute;
    top: 6px;
    right: 11px;
    border-radius: 50%;
    .anticon {
      left: 6px;
      position: relative;
    }
  }

  &--small {
    animation: moveUp 0.25s linear 0s 1 normal forwards;
    .xsearch-bar__input {
      padding: 0px 0px 0px 15px;
      border: solid 1px #afaca9;
      position: relative;
      display: inline-flex;
      align-items: center;
      animation: disableOverflow 0.25s linear 0s 1 normal forwards;
    }
  }
  &--large {
    animation: moveDown 0.25s linear 0s 1 normal forwards;
    .xsearch-bar__input {
      animation: enableOverflow 0.25s linear 0s 1 normal forwards;
    }
  }
}