@keyframes moveUp {
  from {
    top: 0px;
    width: 100%;
    height: 74px;
  }
  to {
    top: -53px;
    height: 40px;
    width: 200px;
  }
}
@keyframes moveDown {
  from {
    top: -53px;
    height: 40px;
    width: 200px;
  }
  to {
    top: 0px;
    width: 100%;
    height: 74px;
  }
}

.xsearch-bar {
  // height: 100px;
  // width: 100%;
  // background: white;
  pointer-events: all;

  // width: 200px;
  // height: 40px;
  
  position: absolute;
  // top: -53px;
  // top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  // border-radius: 35px;
  
  &--padding {
    padding: 0px 42px;
  }

  top: 0px;
  width: 100%;
  height: 74px;


  &__input {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    

    p {
      font-family: "Montserrat-SemiBold";
      font-size: 12px;
      margin: 0;
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;

    &--native {
      .xsearch-bar__input {
        padding: 8px 0px 0px 15px;
        border: solid 1px #afaca9;
      }
    }
  }

  &__btn {
    width: 140px;
    margin-left: 20px;
  }

  &__icon {
    height: 26px;
    width: 26px;
    background: #ff6161;
    position: absolute;
    top: 6px;
    right: 11px;
    border-radius: 50%;
    .anticon {
      left: 6px;
      position: relative;
    }
  }

  &--small {
    animation: moveUp 0.25s linear 0s 1 normal forwards;
    .xsearch-bar__input {
      padding: 0px 0px 0px 15px;
      border: solid 1px #afaca9;
      position: relative;
      display: inline-flex;
      align-items: center;
    }
  }
  &--large {
    animation: moveDown 0.25s linear 0s 1 normal forwards;
  }
}