.terms {
  width: 100%;

  &__section {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 15px;
    }

    p {
      font-family: $Lato;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: 0.2px;
      color: $black;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    h2 {
      font-family: $Lato;
      font-size: 36px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: 0.5px;
      color: $black;
      margin-bottom: 25px;
    }

    ul {
      padding-left: 16px;
      list-style-type: disc;
      list-style-position: outside;
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }

      li {
        padding-left: 8px;
        margin-bottom: 3px;
        & > span {
          font-family: $Lato;
          font-size: 16px;
          color: $black;
          position: relative;
          left: -10px;
        }
      }
    }
  }
}
