.causes {
  width: 100%;

  h1 {
    font-family: 'Lato-Black';
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__search {
    height: 53px;
    width: 100%;
    border-radius: 35px;
    margin-bottom: 42px;
    overflow: hidden;
    border-radius: 35px;
    border: solid 1px #afaca9;
    z-index: 0;
    position: relative;

    .ant-input {
      height: 100%;
      border-radius: 35px;
      padding-left: 15px;
      padding-right: 47px;
      outline: none;
      border: none;
    }
  }

  &__search-icon {
    height: 100%;
    width: 40px;
    // background: black;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;

    &__inner {
      height: 26px;
      width: 26px;
      background: #ff6161;
      border-radius: 50%;
      display: flex;
      align-items: center;

      span {
        margin: 0 auto;
      }

      p {
        color: white;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 23px;
        position: relative;
        top: -1px;
      }
    }

    &--active {
      .causes__search-icon__inner {
        background: #afaca9;
        cursor: pointer;
      }
    }

  }
  
  &__filters {
    height: 74px;
    width: 100%;
    margin-bottom: 42px;
  }

  &__content {
    width: 100%;
    border-top: 1px solid #afaca9;
    margin-top: 42px;
  }

  &__footer {
    margin-bottom: 94px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__total {
    align-self: flex-start;

    p {
      margin: 0px;
      font-family: 'Lato-Regular';
      font-size: 16px;
      color: #212121;
    }
  }

  &__next-btn {
    display: inline-flex;
    align-items: center;
    align-self: flex-end;

    p {
      margin: 0px;
      font-family: 'Lato-Regular';
      font-size: 16px;
      color: #212121;
    }
  }

  &__arrow {
    height: 23px;
    width: 17px;
    cursor: pointer;

    &--left {
      margin-right: 12px;
    }
    &--right {
      margin-left: 12px;
    }
    &--disabled {
      cursor: default;
    }
  }

  &__views {
    height: 23px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: row-reverse;
  }

  &__view {
    font-family: 'Lato-Regular';
    font-size: 16px;
    margin: 0px;
    margin-left: 13px;
    cursor: pointer;
    color: #1376cd;
    text-decoration: underline;
    
    &--active {
      font-family: 'Lato-Bold';
      color: #212121;
      text-decoration: none;
      cursor: default;
    }
  }
}
