.causes {
  height: 100%;
  width: 100%;
  padding: 40px 20px 60px 20px;
  // background: rgb(248, 249, 248);
  background: #e1e3e1;

  &__list {
    width: 500px;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: rgba(165, 165, 165, 0.3);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.3);
  }

  &__item-title {
    p {
      font-size: 24px;
      font-style: bold;
      margin: 0;
    }
  }
  &__item-description {
    p {
      font-size: 16px;
      font-style: bold;
      margin: 0;
    }
  }
  &__delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  &__apply-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
  }

  &__form {
    max-height: 0px;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;

    transition: max-height 0.5s;

    &--active {
      max-height: 100px;
    }

    input {
      margin-bottom: 16px;
    }
  }

}