.sector-icon {
  &__inner {
    &--location {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/location.svg');
    }
    &--calendar {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/calendar.svg');
    }
    &--clock {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/clock.svg');
    }
    &--ages {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/ages.svg');
    }
    &--posted {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/posted.svg');
    }
    &--HealthcareWellbeing {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/medicine.svg');
    }
    &--COVID19Response {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/covid-19.svg');
    }
    &--Technology {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/computer-24px.svg");
    }
    &--ArtsCulture {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/artsCulture.svg");
    }
    &--Animals {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/animals.svg");
    }
    &--ChildrenYouth {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/childrenYouth.svg");
    }
    &--CommunityDevelopment {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/communityDevelopment.svg");
    }
    &--Education {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/education.svg");
    }
    &--Environment {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/environment.svg");
    }
    &--InternationalAffairs {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/internationalAffairs.svg");
    }
    &--MedicineHealthcare {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/medicineHealthcare.svg");
    }
    &--MentalHealth {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/mentalHealth.svg");
    }
    &--ReligionSpirituality {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/religionSpirituality.svg");
    }
    &--Science {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/science.svg");
    }
    &--SportsRecreation {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/sportsRecreation.svg");
    }


    &--AccountingFinance {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/accountingFinance.svg");
    }
    &--Administration {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/administration.svg");
    }
    &--ArtsCrafts {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/artsCulture.svg");
    }
    &--BusinessDevelopment {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/businessDevelopment.svg");
    }
    &--CoachingCouncelling {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/coachingCouncelling.svg");
    }
    &--CustomerService {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/customerService.svg");
    }
    &--DrivingTransportation {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/drivingTransportation.svg");
    }
    &--Engineering {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/engineering.svg");
    }
    &--EventAssistancePlanning {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/eventAssistancePlanning.svg");
    }
    &--GrantsFundraising {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/grantsFundraising.svg");
    }
    &--GraphicDesign {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/graphicDesign.svg");
    }
    &--FoodHospitality {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/foodHospitality.svg");
    }
    &--HumanResources {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/humanResources.svg");
    }
    &--ITSupport {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/ITSupport.svg");
    }
    &--LeadershipManagement {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/leadershipManagement.svg");
    }
    &--Legal {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/legal.svg");
    }
    &--Marketing {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/marketing.svg");
    }
    &--MusicEntertainment {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/musicEntertainment.svg");
    }
    &--PhotographyVideo {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/photographyVideo.svg");
    }
    &--ProjectManagement {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/projectManagement.svg");
    }
    &--Research {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/research.svg");
    }
    &--SocialMedia {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/socialMedia.svg");
    }
    &--StrategyConsulting {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/strategyConsulting.svg");
    }
    &--TeachingTutoring {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/teachingTutoring.svg");
    }
    &--WebDesignDevelopment {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/webDesignDevelopment.svg");
    }
    &--person {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/person.svg");
    }
    &--email {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/email.svg");
    }
    &--phone {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/phone.svg");
    }
    &--location {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/location2.svg");
    }
    &--web {
      background: url("https://storage.googleapis.com/hokela-bucket/icons/web.svg");
    }


    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
  }

  &--outlined {
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    background-color: #e5e9fb !important;
    .sector-icon__inner {
      background-size: 85% !important;
    }
  }
}