.app {
  // padding-top: $navbarHeight;
  // background: #e1e3e1;
  // min-height: 1000vh;
  background: #f7f7f7;

  &__admin-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // border: 5px solid rgba(255, 0, 255, 0.7);
    z-index: 100;
    pointer-events: none;
  }
}
