$navbarHeight: 80px;

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Metropolis/Metropolis-Light.otf") format("truetype");
}

.ant-row {
  margin-bottom: 0px;
}

.ant-tooltip-content, .ant-tooltip-inner {
  background: #09203f;
}
.ant-tooltip-inner {
  padding: 20px;
  font-family: 'Lato';
  font-size: 16px;
}
.ant-tooltip-arrow {
  transform: scale(2.5);
  bottom: -15px !important;
  .ant-tooltip-arrow-content {
    background: #09203f;
  }
}

$Lato: 'Lato-Regular';
$LatoBold: 'Lato-Bold';
$black: #212121;

@import './reset.scss';
@import './App.scss';
@import './../components/Navbar/navbar.scss';
@import './../components/AboutUs/about-us.scss';
@import './../components/AddCauseForm/add-causee-form.scss';
@import './../components/ApplicationModal/application-modal.scss';
@import './../components/Banner/banner.scss';
@import './../components/BreadCrumbs/bread-crumbs.scss';
@import './../components/Button/button.scss';
@import './../components/Card/card.scss';
@import './../components/CauseCard/cause-card.scss';
@import './../components/CauseFilters/cause-filters.scss';
@import './../components/CauseItem/cause-item.scss';
@import './../components/CausePreview/cause-preview.scss';
@import './../components/Causes/causes.scss';
@import './../components/Checkbox/checkbox.scss';
@import './../components/ContactUs/contact-us.scss';
@import './../components/CookiesModal/cookies-modal.scss';
@import './../components/CreateCause/create-cause.scss';
@import './../components/CustomModal/custom-modal.scss';
@import './../components/DetailedCause/detailed-cause.scss';
@import './../components/Editor/editor.scss';
@import './../components/EmptyState/empty-state.scss';
@import './../components/FailureModal/failure-modal.scss';
@import './../components/FindVolunteers/find-volunteers.scss';
@import './../components/Footer/footer.scss';
@import './../components/Hero/hero.scss';
@import './../components/Home/home.scss';
@import './../components/Input/input.scss';
@import './../components/MapView/map-view.scss';
@import './../components/MultiSelect/multi-select.scss';
@import './../components/MyCauses/my-causes.scss';
@import './../components/NotFoundPage/not-found-page.scss';
@import './../components/Page/page.scss';
@import './../components/SearchBar/search.scss';
@import './../components/SearchBar2/search.scss';
@import './../components/SearchBar2/inner.scss';
@import './../components/Section/section.scss';
@import './../components/Select/select.scss';
@import './../components/SpinningLogo/spinning-logo.scss';
@import './../components/SuccessModal/success-modal.scss';
@import './../components/TypeAhead/type-ahead.scss';