$navbarHeight: 85px;

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Metropolis/Metropolis-Light.otf") format("truetype");
}

body {
  overflow-x: hidden;
}

.ant-row {
  margin-bottom: 0px;
}
.ant-col {
  position: unset !important;
}

.ant-tooltip-content, .ant-tooltip-inner {
  background: #09203f;
}
.ant-tooltip-inner {
  padding: 20px;
  font-family: 'Lato';
  font-size: 16px;
}
.ant-tooltip-arrow {
  transform: scale(2.5);
  bottom: -15px !important;
  .ant-tooltip-arrow-content {
    background: #09203f;
  }
}

$Lato: 'Lato-Regular';
$LatoLight: 'Lato-Light';
$LatoBold: 'Lato-Bold';
$LatoBlack: 'Lato-Black';
$MontserratSemiBold: 'Montserrat-SemiBold';
$black: #212121;

@import './reset.scss';
@import './App.scss';
@import './components.scss';
@import './pages.scss';
@import './forms.scss';