@import './App.scss';
@import './navBar.scss';
@import './../components/Causes/causes.scss';
@import './../components/Home/home.scss';
@import './../components/DetailedCause/detailed-cause.scss';
@import './../components/Banner/banner.scss';