$navbarHeight: 80px;

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Metropolis/Metropolis-Light.otf") format("truetype");
}

.ant-row {
  margin-bottom: 0px !important;
}

@import './App.scss';
@import './navBar.scss';
@import './../components/Causes/causes.scss';
@import './../components/Home/home.scss';
@import './../components/DetailedCause/detailed-cause.scss';
@import './../components/Banner/banner.scss';
@import './../components/MyCauses/my-causes.scss';
@import './../components/CauseItem/cause-item.scss';
@import './../components/Hero/hero.scss';
@import './../components/AddCauseForm/add-causee-form.scss';
@import './../components/Editor/editor.scss';
@import './../components/CausePreview/cause-preview.scss';
@import './../components/Navbar2/navbar.scss';
@import './../components/SearchBar2/search.scss';
@import './../components/SearchBar2/inner.scss';