$navbarHeight: 78px;

@import './App.scss';
@import './navBar.scss';
@import './../components/Causes/causes.scss';
@import './../components/Home/home.scss';
@import './../components/DetailedCause/detailed-cause.scss';
@import './../components/Banner/banner.scss';
@import './../components/MyCauses/my-causes.scss';
@import './../components/CauseItem/cause-item.scss';
@import './../components/Hero/hero.scss';
@import './../components/AddCauseForm/add-causee-form.scss';
@import './../components/Editor/editor.scss';
@import './../components/CausePreview/cause-preview.scss';