
.nav {
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    width: 200px;
    display: flex;
    margin-left: 3rem;

    .logo {
      height: 50px;
      width: 50px; 
      align-self: center;
      margin-right: 0.5rem;
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding-right: 16px;
  }
  &__item {
    color: #727272;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 10px;

    &:hover{
      color: #424242
    }
    &--active {
      color: #131313;
    }
  }
}