
.nav {
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  &__header {
    display: flex;
  }

  &__logo {
    &--icon {
      height: 56px;
      width: 56px; 
      align-self: center;
      margin-right: 16px;
      background: url('https://static.wixstatic.com/media/52f6ee_d5797033974b46458b539eca7af2ca9d~mv2_d_3032_3046_s_4_2.png/v1/fill/w_56,h_56,al_c,q_85,usm_0.66_1.00_0.01/Logo.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &--text {
      height: 32px;
      width: 140px;
      align-self: center;
      background: url('https://static.wixstatic.com/media/52f6ee_7259b0ffadc84a7199e3c339d1b97a6d~mv2_d_5062_1233_s_2.png/v1/fill/w_140,h_32,al_c,q_85,usm_0.66_1.00_0.01/Name.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    // padding-right: 16px;
  }
  &__item {
    color: #727272;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 10px;

    &:hover{
      color: #424242
    }
    &--active {
      color: #131313;
    }
  }
}