@import '../pages/Home/home.scss';
@import '../pages/FindCauses/find-causes.scss';
@import '../pages/FindVolunteers/find-volunteers.scss';
@import '../pages/CreateCause/create-cause.scss';
@import '../pages/DetailedCause/detailed-cause.scss';
@import '../pages/ContactUs/contact-us.scss';
@import '../pages/AboutUs/about-us.scss';
@import '../pages/AboutUs/Overlay/overlay.scss';
@import '../pages/Terms/terms.scss';