.cause-preview {
  min-height: 600px;
  width: 100%;

  .container {
    padding: 0px;
  }

  * {
    font-size: 8px;
  }
  h1 {
    font-size: 12px;
  }

  &__main-content {
    min-height: 400px;
    width: 100%;
    background: white;
    padding: 16px;
    border-radius: 5px;
  }

  &__section {
    margin-bottom: 16px;
  }

  &__sidebar {
    min-height: 400px;
    width: 100%;
    &__section {
      padding: 16px;
      border-radius: 5px;
      margin-bottom: 16px;
      background: white;
    }
    &__content {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      p {
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
}