.partner-carousel {
  margin-top: 96px;
  overflow: hidden;
  // padding: 10px 0px;
  box-sizing: border-box;

  .InfiniteCarousel {
    // background: rgba(0, 255, 0, 0.4);
    width: 100%;
    height: 100%;

    img {
      height: 114px;
      object-fit: contain;
    }
  }
}