.home {
  padding-top: 0px;

  &__volunteer-image {
    height: 565px;
    width: 100%;
    background: url('/images/icons/partner_with_us.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__about-us-image {
    height: 457px;
    width: 100%;
    background: url('https://storage.googleapis.com/hokela-bucket/icons/about-hokela-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__contact-us-image {
    height: 438px;
    width: 100%;
    background: url('https://storage.googleapis.com/hokela-bucket/icons/contact-us-email-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__volunteer-info {
    height: 100%;
    width: 100%;
    padding-top: 66px;

    h4 {
      font-family: $Lato;
      font-size: 24px;
      color: $black;
      margin-bottom: 30px;
    }

    p {
      font-family: $Lato;
      font-size: 16px;
      color: $black;
      margin-bottom: 30px;
      line-height: 23px;

      span {
        font-family: $LatoBold;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &--dark {
      h4, p {
        color: white;
      }
    }

    &--contact-us {
      p {
        margin-bottom: 30px !important;
      }
    }
  }

  &__learn-more-btn-container {
    padding-right: 80px;
    padding-left: 80px;

    width: 100%;
    position: absolute;
    left: 0px;

    & > div {
      height: 60px;
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__learn-more-btn {
    width: 100% !important;
  }
}