.home {
  height: 600px;
  width: 100%;
  
  &__hero {
    height: 600px;
    background: rgb(83,120,149);
    background: linear-gradient(0deg, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
  }

  &__volunteer-image {
    height: 565px;
    width: 100%;
    background: url('/images/icons/partner_with_us.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__about-us-image {
    // height: 565px;
    height: 457px;
    width: 100%;
    background: url('https://storage.googleapis.com/hokela-bucket/icons/about-hokela-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    // background-color: red;
  }
  
  &__volunteer-info {
    height: 100%;
    width: 100%;
    padding-top: 66px;
    padding-right: 30px;

    h4 {
      font-family: $Lato;
      font-size: 24px;
      color: $black;
      margin-bottom: 30px;
    }

    p {
      font-family: $Lato;
      font-size: 16px;
      color: $black;
      margin-bottom: 30px;
      line-height: 23px;

      span {
        font-family: $LatoBold;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }

  &__learn-more-btn-container {
    height: 60px;
    width: 100%;
    // background: red;
    position: absolute;
    // top: 0px;
    left: 0px;
  }
  &__learn-more-btn {
    width: 100% !important;
    // @include columnWidth(2);
  }
}