.home {
  height: 600px;
  width: 100%;
  
  &__hero {
    height: 600px;
    background: rgb(83,120,149);
    background: linear-gradient(0deg, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
  }

  &__volunteer-image {
    height: 565px;
    width: 100%;
    background: url('/images/icons/partner_with_us.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__volunteer-info {
    height: 100%;
    width: 100%;
    padding-top: 66px;
    padding-right: 30px;

    p {
      font-family: "Lato-Regular";
      font-size: 16px;
      color: $black;
    }
    p:nth-child(2) {
      font-family: "Montserrat-SemiBold";
      font-size: 18px;
    }
  }
}