@keyframes moveUp {
  from {
    top: 0px;
    width: 100%;
    height: 74px;
  }
  to {
    top: -53px;
    height: 40px;
    width: 200px;
  }
}
@keyframes moveDown {
  from {
    top: -53px;
    height: 40px;
    width: 200px;
  }
  to {
    top: 0px;
    width: 100%;
    height: 74px;
  }
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 67px;
  width: 100%;
  padding: 0px 10px;
  padding-left: 40px;
  padding-right: 40px;

  &__inner {
    min-height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hokela-icons {
    height: 100%;
    width: 142px;
    display: inline-flex;
    align-items: center;
  }

  &__hokela-icon {
    &--logo {
      height: 44px;
      width: 44px;
      background: url('https://static.wixstatic.com/media/52f6ee_51619d63cc534115b41aa20c749e4564~mv2_d_1835_1843_s_2.png/v1/crop/x_0,y_4,w_1835,h_1835/fill/w_146,h_144,al_c,q_85,usm_0.66_1.00_0.01/Original%20on%20Transparent_edited.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &--text {
      height: 20px;
      width: 87px;
      background: url('https://lh3.google.com/u/0/d/1b0Or-opfMIlZmCIPQicBWGY2xVoc1d-p=w2190-h1718-iv1');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: 9px;
    }
  }

  &__content {
    // height: 100%;
    // width: 62%;
    // background: blue;
    display: inline-flex;
    align-items: center;
    // margin: 0 auto;
    // position: absolute;
    // left: 0;
    // right: 0;
    // width: fit-content;
  }

  &__tab {
    height: 100%;
    // background: red;
    margin-right: 35px;
    cursor: pointer;
    p {
      font-family: "Lato-Regular";
      font-size: 16px;
      color: white;
      margin: 0;
      margin-bottom: 8px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
  &__tab-line {
    height: 3px;
    width: 100%;
    background: white;
  }

  &__actions {
    height: 100%;
    width: 112px;
    background: green;
    // position: absolute;
    // right: 42px;
  }

  .search {
    width: 200px;
    height: 48px;
    background: white;
    margin: 0 auto;

    // &--active {
    //   background: black;
    //   width: 90%;
    //   position: absolute;
    //   top: 264px;
    //   left: 0;
    //   right: 0;
    // }
  }

  // #mount {
  //   margin: 0 auto;
  // }
  #mount {
    margin: 0 auto;
    background: white;
    height: 40px;
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    top: 14px;
  }

  &__second-tier {
    height: 74px;
    width: 100%;
    position: relative;
    pointer-events: none;
    
    // &--red {
    //   background: red;
    // }
    // &--blue {
    //   background: red;
    //   // background: blue;
    // }
  }

  &__search {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    // border-radius: 35px;

    top: -53px;
    height: 40px;
    width: 200px;
    
    &--small {
      animation: moveUp 0.25s linear 0s 1 normal forwards;
    }
    &--large {
      animation: moveDown 0.25s linear 0s 1 normal forwards;
    }

    &__inner {
      height: 100%;
      width: 100%;
      background: blue;
      border-radius: 35px;
    }
  }

  &__test {
    width: 100%;
    display: inline;
    position: fixed;
    height: 0px;
    // background: black;
    left: 0;
    top: 67px;

    &__shadow {
      height: 11px;
      width: 100%;
      position: absolute;
      bottom: -8px;
      overflow: hidden;
      padding-bottom: 8px;
      &__inner {
        height: 100%;
        width: 100%;
        // box-shadow: 0 0 16px 0 rgba(175, 172, 169, 0.3);
      }
    }
  }

  &--active {
    // height: 199px;
    .navbar__test {
      // height: 60px;
      height: 100px;
      // transition: 1s h;
      transition: height 0.2s;
    }
  }
}