.xcard {
  width: 100%;

  &__image {
    width: 100%;
    height: 311px;
    margin-bottom: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .xbtn {
      position: absolute;
      left: 54px;
      bottom: 35px;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover {
      .xbtn {
        opacity: 1;
      }
    }
  }


  &__info {
    h1 {
      font-size: 18px;
      font-family: 'Montserrat-SemiBold';
      margin: 0;
      margin-bottom: 4px;
    }
    h2 {
      font-size: 15px;
      font-family: 'Lato-Regular';
      margin: 0;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 15px;
      font-family: 'Lato-Light';
      margin: 0;
    }
  }

  &__location {
    display: inline-flex;
    align-items: center;
    svg {
      margin-right: 9px;
    }
  }
  &__location-icon {
    height: 20px;
    width: 14px;
    background: url('../../images/Location.svg');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position-x: -1.5px;
    margin: 0 9px 0 5px;
  }

  &--dark {
    .xcard__info {
      h1, h2, h3 {
        color: white;
      }
    }
  }
}