.success {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  &__content {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    &--left {
      height: 100%;
      width: 100%;

      background-image: url('https://storage.googleapis.com/hokela-bucket/icons/success-image.png');
      background-position: center;
      background-repeat: no-repeat;
    }
    &--right {
      height: 100%;
      width: 100%;
      padding: 60px 40px 40px 20px;

      h4 {
        font-family: $MontserratSemiBold;
        font-size: 18px;
        color: $black;
        margin-bottom: 15px;
      }

      p {
        font-family: $Lato;
        font-size: 16px;
        color: $black;

        &:first-of-type {
          margin-bottom: 16px;
        }
      }
    }
  }
}