@mixin userIcon($user) {
  background: url('https://storage.googleapis.com/hokela-bucket/team-icons/#{$user}.png') no-repeat center;
  background-size: 80%;

  &:hover {
    background: url('https://storage.googleapis.com/hokela-bucket/team-icons/#{$user} (Hover).png') no-repeat center;
    background-size: 80%;
  }
}

@mixin preloadHoverIcon($user) {
  background: url('https://storage.googleapis.com/hokela-bucket/team-icons/#{$user} (Hover).png') no-repeat center;
}

.team-icon {

  &__icon {
    height: 256px;
    width: 256px;
    background: #e5e9fb;
  
    border-radius: 100%;
    margin-bottom: 10px;

    &--matt, &--gabi {
      background-color: rgba(216, 216, 216, 0.4) !important;
    }

    &--cody, &--andrea, &--dawson {
      background-color: rgb(203, 220, 236) !important;
    }
    &--conner {
      background-color: #e5e9fb !important;
    }

    &--matt {
      @include userIcon("Matt");
    }
    &--gabi {
      @include userIcon("Gabi");
    }
    &--conner {
      @include userIcon("Conner");
    }
    &--andrea {
      @include userIcon("Andrea");
    }
    &--cody {
      @include userIcon("Cody");
    }
  }

  // used to preload the hover icon
  &__hidden-image {
    height: 0px;
    width: 0px;
    &--matt {
      @include preloadHoverIcon("Matt");
    }
    &--gabi {
      @include preloadHoverIcon("Gabi");
    }
    &--conner {
      @include preloadHoverIcon("Conner");
    }
    &--andrea {
      @include preloadHoverIcon("Andrea");
    }
    &--cody {
      @include preloadHoverIcon("Cody");
    }
  }

  &__info {
    text-align: center;
  }

  &__name {
    font-family: $MontserratSemiBold;
    font-size: 16px;
    color: $black;
    margin-bottom: 8px;
  }
  &__title, &__subtitle {
    font-family: $Lato;
    font-size: 16px;
    color: $black;
    margin-bottom: 8px;
  }

  &__linkedIn {
    height: 40px;
    width: 40px;
    background: #405b74;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    background: url('https://storage.googleapis.com/hokela-bucket/icons/LinkedIn.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
  }
}
