.home {
  &__content {
    height: 1000px;
  }
}

.hero {
  height: 621px;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__parallax {
    background-image: url('https://static.wixstatic.com/media/e62cb98487c04073b5b31a2107d99d13.jpg/v1/fill/w_1356,h_946,al_c,q_85,usm_0.66_1.00_0.01/e62cb98487c04073b5b31a2107d99d13.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 130%;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .ant-row {
      height: 100%;
    }
    .ant-col {
      &:last-of-type {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}