@keyframes example {
  from {
    background-color: red;
    // position: fixed;
    // left: 0;
    // right: 0;
  }
  // 25%  {background-color: yellow;}
  // 50%  {background-color: blue;}
  to {
    background-color: green;
    // position: fixed;
    top: 16px;
    width: 300px;
    // margin: 0 auto;
    // left: 0;
    // right: 0;
  }
}

.search {
  width: 780px;
  height: 48px;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: sticky;
  top: 264px;

  &--active {
    background: black;
    // width: 100%;
    // height: 48px;
    // position: fixed;
    // left: 0;
    // right: 0;

    // animation-name: example;
    // animation: example 0.25s ease 0s 1 normal forwards;
    // animation-duration: 4s;
  }
}

// .search-portal {
//   width: 100%;
//   height: 48px;
//   background: white;
//   margin: 0 auto;

//   &--active {

//   }
// }