@keyframes example {
  from {
    background-color: red;
    // position: fixed;
    // left: 0;
    // right: 0;
  }
  // 25%  {background-color: yellow;}
  // 50%  {background-color: blue;}
  to {
    background-color: green;
    // position: fixed;
    top: 16px;
    width: 300px;
    // margin: 0 auto;
    // left: 0;
    // right: 0;
  }
}

.search-bar {
  width: 100%;
  height: 74px;
  background: white;
  margin: 0 auto;
  border-radius: 35px;
  // left: 0;
  // right: 0;
  // position: sticky;
  // top: 264px;

  &--small {
    // height: 90%;
    // width: 100px;
    background: white;
  }

  &__inner {
    height: 100%;
    width: 100%;
    background: palegreen;
    position: relative;
    border-radius: 30px;

    &--small {
      background: red;
    }

    span {
      width: fit-content;
      position: absolute;
      right: 16px;
      top: 12px;
    }
  }
}