// LEFT MOVES //////////////////////////////////
@keyframes moveToLeftFromRight {
  from {
    z-index: 1;
    right: 0px;
  }
  to {
    z-index: 2;
    right: 25%;
  }
}
@keyframes moveToLeftFromRightInner {
  from {
    transform: scale(0.85) translate(9%);
    opacity: 0.7;
  }
  to {
    transform: scale(1) translate(0%);
    opacity: 1;
  }
}

@keyframes moveToLeftFromMain {
  from {
    z-index: 2;
    left: 25%;
  }
  to {
    z-index: 1;
    left: 0px;
  }
}
@keyframes moveToLeftFromMainInner {
  from {
    transform: scale(1) translate(0%);
    opacity: 1;
  }
  to {
    transform: scale(0.85) translate(-9%);
    opacity: 0.7;
  }
}


@keyframes moveToBackFromLeft {
  from {
    z-index: 1;
    left: 0px;
  }
  to {
    z-index: 0;
    left: 25%;
    right: 25%;
  }
}
@keyframes moveToBackFromLeftInner {
  from {
    transform: scale(0.85) translate(-9%);
  }
  to {
    transform: scale(0.75) translate(0%);
  }
}

@keyframes moveToRightFromBack {
  from {
    z-index: 0;
    right: 25%;
    left: 25%;
  }
  to {
    z-index: 1;
    right: 0px;
    left: 50%;
  }
}
@keyframes moveToRightFromBackInner {
  from {
    transform: scale(0.75) translate(0%);
  }
  to {
    transform: scale(0.85) translate(9%);
  }
}
// LEFT MOVES //////////////////////////////////

// RIGHT MOVES //////////////////////////////////
@keyframes moveToRightFromRight {
  from {
    z-index: 1;
    right: 0px;
  }
  to {
    z-index: 0;
    right: 25%;
  }
}
@keyframes moveToRightFromRightInner {
  from {
    transform: scale(0.85) translate(9%);
    opacity: 0.7;
  }
  to {
    transform: scale(0.75) translate(0%);
    opacity: 0.4;
  }
}

@keyframes moveFromMainToRight {
  from {
    z-index: 2;
    right: 25%;
    left: 25%;
  }
  to {
    z-index: 1;
    right: 0px;
    left: 50%;
  }
}
@keyframes moveFromMainToRightInner {
  from {
    transform: scale(1) translate(0%);
  }
  to {
    transform: scale(0.85) translate(9%);
  }
}

@keyframes moveFromLeftToMain {
  from {
    z-index: 1;
    right: 0px;
  }
  to {
    z-index: 2;
    right: 25%;
    left: 25%;
  }
}
@keyframes moveFromLeftToMainInner {
  from {
    transform: scale(0.85) translate(-9%);
    opacity: 0.7;
  }
  to {
    transform: scale(1) translate(0%);
    opacity: 1;
  }
}

@keyframes moveFromBackToLeft {
  from {
    z-index: 0;
    right: 0px;
  }
  to {
    z-index: 1;
    right: 50%;
    left: 0px;
  }
}
@keyframes moveFromBackToLeftInner {
  from {
    transform: scale(0.75) translate(0%);
    opacity: 0.4;
  }
  to {
    transform: scale(0.85) translate(-9%);
    opacity: 0.7;
  }
}
// RIGHT MOVES //////////////////////////////////


.comment-carousel {
  min-height: 434px;
  width: 100%;
  // background: red;

  .content {
    height: 100%;
    width: 66.67%;
    // background: blue;
    margin: 0 auto;
    position: relative;
  }

  .item {
    width: 50%;
    position: absolute;

    &__prev {
      left: 0px;
      height: 100%;
      // background: black;
      .item__content {
        transform: scale(0.85) translate(-9%);
        opacity: 0.6;
      }
    }
    &__main {
      height: 100%;
      left: 25%;
      right: 25%;
      // margin: 0 auto;
      // background: green;
      z-index: 1;
    }
    &__next {
      right: 0px;
      height: 100%;
      // background: blue;
      .item__content {
        transform: scale(0.85) translate(9%);
        opacity: 0.6;
      }
    }
    &__last {
      right: 25%;
      left: 25%;
      height: 100%;
      // background: blue;
      .item__content {
        transform: scale(0.75) translate(0%);
        opacity: 0.4;
      }
    }

    &__content {
      min-height: 434px;
      width: 100%;
      border-radius: 20px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
      border: solid 1px #f7f9fc;
      background-color: white;
      text-align: right;
      overflow: hidden;
    }
  }

  &--active-left {
    .comment__see-more-toggle {
      display: none;
    }
    .item {
      &__next {
        animation: moveToLeftFromRight 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveToLeftFromRightInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__main {
        animation: moveToLeftFromMain 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveToLeftFromMainInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__prev {
        animation: moveToBackFromLeft 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveToBackFromLeftInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__last {
        animation: moveToRightFromBack 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveToRightFromBackInner 0.5s linear 0s 1 normal forwards;
        }
      }
    }
  }

  &--active-right {
    .comment__see-more-toggle {
      display: none;
    }
    .item {
      &__next {
        animation: moveToRightFromRight 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveToRightFromRightInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__main {
        animation: moveFromMainToRight 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveFromMainToRightInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__prev {
        animation: moveFromLeftToMain 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveFromLeftToMainInner 0.5s linear 0s 1 normal forwards;
        }
      }
      &__last {
        animation: moveFromBackToLeft 0.5s linear 0s 1 normal forwards;
        .item__content {
          animation: moveFromBackToLeftInner 0.5s linear 0s 1 normal forwards;
        }
      }
    }
  }


  .comment {
    height: 100%;
    width: 100%;
    padding: 40px;

    &__header {
      height: 43px;
      width: 51px;
      margin: 0 auto;
      margin-bottom: 35px;
      background: url('https://storage.googleapis.com/hokela-bucket/icons/quote-left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__text {
      height: 184px;
      text-align: center;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      overflow: hidden;

      p {
        font-family: $Lato;
        color: $black;
        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 0.2px;

        // text-overflow: ellipsis not working here;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
      }
    }

    &__see-more-toggle {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;

      p {
        font-family: $Lato;
        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 0.2px;
        color: #1376cd;
        text-decoration: underline;

        // -moz-user-select: -moz-none;
        // -khtml-user-select: none;
        // -webkit-user-select: none;
        // -ms-user-select: none;
        // user-select: none;
      }
    }

    &__divider {
      height: 1px;
      border-top: dashed 1px #09203f;
      width: 77%;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__name {
      text-align: center;
      font-family: $MontserratSemiBold;
      color: $black;
      font-size: 18px;
      margin-bottom: 4px;
    }

    &__title {
      text-align: center;
      font-family: $Lato;
      font-size: 16px;
      line-height: 1.44;
      letter-spacing: 0.2px;
      color: $black;
    }
  }
}

.comment-carousel-container {
  position: relative;

  .comment-carousel {
    &__button {
      height: 40px;
      width: 40px;
      position: absolute;
      top: calc((100% / 2) - 20px);
      cursor: pointer;
      border-radius: 10px;
      margin: 0 auto;
      display: grid;
      margin-bottom: 12px;

      .anticon {
        margin: 0 auto;
        align-self: center;
      }

      &--left {
        background: #5e9aad;
        left: 0px;
      }
      &--right {
        background: #5e9aad;
        right: 0px;
      }
    }
  }
}