.navbar {
  height: 80px;
  width: 100%;
  background: rgba(255,0,255,0.7);
  position: fixed;
  top: 0px;
  z-index: 1;

  #searchBarMount {
    width: 300px;
    height: 48px;
    margin: 0 auto;
  }

  // .search {
  //   width: 50%;
  //   height: 48px;
  //   background: white;
  //   margin: 0 auto;

  //   &--active {
  //     background: black;
  //     width: 90%;
  //     position: absolute;
  //     top: 264px;
  //     left: 0;
  //     right: 0;
  //   }
  // }
}