@keyframes moveUp {
  from {
    top: 0px;
    width: 100%;
    height: 74px;
  }
  to {
    top: -53px;
    height: 40px;
    width: 200px;
  }
}
@keyframes moveDown {
  from {
    top: -53px;
    height: 40px;
    width: 200px;
  }
  to {
    top: 0px;
    width: 100%;
    height: 74px;
  }
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 100;
  height: 85px;
  width: 100%;
  padding: 0px 10px;
  padding-left: 40px;
  padding-right: 40px;

  &--dark {
    background: #09203f !important;
    opacity: 1;
    box-shadow: 0 5px 16px 0 #7a899c;
  }

  &__inner {
    min-height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hokela-icons {
    height: 100%;
    width: 142px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__hokela-icon {
    &--logo {
      height: 44px;
      width: 44px;
      background: url('https://storage.googleapis.com/hokela-bucket/companies/hokela%20technologies/logos/hokela_icon.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    &--text {
      height: 20px;
      width: 87px;
      background: url('/images/icons/hokela_logo_text_white.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: 9px;
    }
  }

  &__content {
    display: inline-flex;
    align-items: center;
    height: 85px;
  }

  &__tab {
    height: 100%;
    margin-right: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;

    p {
      font-family: $Lato;
      font-size: 16px;
      color: white;
      margin: 0;
      margin-bottom: 8px;
      white-space: nowrap;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  &__tab-line {
    height: 3px;
    width: 100%;
    background: white;
  }

  &__actions {
    height: 100%;
    width: 112px;
    // display: none;
    opacity: 0;
    pointer-events: none;
  }

  .search {
    width: 200px;
    height: 48px;
    background: white;
    margin: 0 auto;
  }

  #mount {
    margin: 0 auto;
    background: white;
    height: 40px;
    width: 200px;
    position: absolute;
    right: 0;
    left: 0;
    top: 14px;
  }

  &__second-tier {
    height: 74px;
    width: 100%;
    position: relative;
    pointer-events: none;
    margin-top: 23px;
  }

  &__search {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    top: -53px;
    height: 40px;
    width: 200px;
    
    &--small {
      animation: moveUp 0.25s linear 0s 1 normal forwards;
    }
    &--large {
      animation: moveDown 0.25s linear 0s 1 normal forwards;
    }

    &__inner {
      height: 100%;
      width: 100%;
      border-radius: 35px;
    }
  }

  &__test {
    width: 100%;
    display: inline;
    position: fixed;
    height: 0px;
    left: 0;
    top: 67px;

    &__shadow {
      height: 11px;
      width: 100%;
      position: absolute;
      bottom: -28px;
      overflow: hidden;
      padding-bottom: 8px;

      &__inner {
        height: 100%;
        width: 100%;
      }
    }
  }

  &--active {
    .navbar__test {
      height: 130px;
      transition: height 0.2s;
    }
  }

  &__actions {
    height: 40px;
    width: 75px;
    background: #f7f7f7;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
  }

  &__action-drawer {
    width: 100%;
    background: #f7f7f7;
    position: absolute;
    top: 45px;
  }
}