.apply {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  
  &__input-wrapper {
    margin-bottom: 10px;

    &--auto-populated {
      input {
        background: aliceblue;
      }
    }
  }

  &__input-error {
    margin-bottom: 10px;
    color: #ff6161;
  }
}