.section {
  min-height: 600px;
  padding: 70px 80px;
  background: #f7f7f7;
  
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
  }

  &__header {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    h2 {
      font-family: "Lato-Light";
      font-size: 36px;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  &__line {
    height: 2px;
    width: 45px;
    background: black;
    margin: 0 auto;
  }

  &__icon {
    height: 71px;
    width: 71px;
    // background: white;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &--dark {
    background: #e5e9fb;
  }
  
  &--dark-gradient {
    // background: black;
    background: rgb(83,120,149);
    background: linear-gradient(0deg, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);
    .section__header {
      h2 {
        color: white;
      }
    }
    .section__line {
      background: white;
    }
  }
}