.create {
  padding-top: 20px;

  &__image-container {
    // min-height: 300px;
    // background: red;
    width: 100%;
    display: inline-flex;
    align-items: center;
  }

  &__image {
    height: 100px;
    width: 100px;
    // background-color: red;
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .xbtn {
    margin-top: 16px;
  }
}