.cause-card {
  height: 220px;
  width: 100%;
  background: white;
  box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  border: solid 1px #f7f9fc;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 42px;
  position: relative;
  display: grid;
  grid-template-rows: auto 55px;
  grid-row-gap: 12px;

  &:hover {
    background: rgba(33, 33, 33, 0.4);
    .cause-card__button-container {
      opacity: 1;
      .xbtn {
        pointer-events: all;
      }
    }
    .cause-card__logo, .cause-card__icon {
      opacity: 0.4;
    }
  }

  &__top {
    height: 100%;
    width: 100%;
    display: grid !important;
    grid-template-columns: 90px auto;
    grid-column-gap: 15px;
  }

  &__logo {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  &__cause-info {
    height: 100%;
    width: 100%;

    h1 {
      font-family: $LatoBlack !important;
      font-size: 16px !important;
      color: $black !important;
      margin-bottom: 6px !important;
      min-height: 20px;
    }
    h2 {
      font-family: $Lato;
      font-size: 16px !important;
      color: $black;
      margin-bottom: 6px;
      min-height: 23px;
    }
    p.cause-card__location {
      font-family: $LatoLight;
      font-size: 15px;
      color: $black;
      min-height: 20px;
    }
  }

  &__bottom {
    height: 100%;
    width: 100%;
    display: grid !important;

    grid-template-columns: 55px 36px auto auto;
    grid-template-rows: 100%;
  }

  &__icon {
    height: 55px;
    width: 100%;
    align-self: flex-end;
  }

  &__additional-info {
    height: 100%;
    width: 100%;
    p {
      font-family: $LatoLight;
      font-size: 15px;
      color: $black;
      text-align: center;
      &:last-child {
        white-space: nowrap;
      }
    }
  }
  
  &__duration {
    p {
      font-family: $LatoLight;
      font-size: 15px;
      color: $black;
      text-align: center;
    }
  }

  &__button-container {
    opacity: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;

    .xbtn {
      pointer-events: none;
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

// .cause-card {
//   height: 220px;
//   width: 100%;
//   background: white;
//   box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
//   border: solid 1px #f7f9fc;
//   padding: 20px;
//   border-radius: 20px;
//   margin-bottom: 42px;
//   display: inline-flex;
//   position: relative;

//   &:hover {
//     background: rgba(33, 33, 33, 0.4);
//     .cause-card__button-container {
//       opacity: 1;
//       .xbtn {
//         pointer-events: all;
//       }
//     }
//     .cause-card__logo, .cause-card__sector-icon {
//       opacity: 0.4;
//     }
//   }

//   &__name {
//     font-family: 'Lato-Black';
//     font-size: 16px;
//     margin: 0px;
//     color: $black;
//     margin-bottom: 6px;
//   }
//   &__org {
//     font-family: 'Lato-Regular';
//     font-size: 16px;
//     margin: 0px;
//     color: $black;
//     margin-bottom: 6px;
//   }
//   &__location {
//     font-family: 'Lato-Light';
//     font-size: 16px;
//     margin: 0px;
//     color: $black;
//     margin-bottom: 6px;
//   }

//   &__left {
//     height: 100%;
//     width: 90px;
//     margin-right: 15px;
//     position: relative;
//   }

//   &__logo {
//     height: 100px;
//     width: 90px;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//   }

//   &__sector-icon {
//     height: 55px;
//     width: 55px;
//     border-radius: 50%;
//     background-color: #e5e9fb;
//     position: absolute;
//     bottom: 0;
    
//     &--HealthcareWell-being {
//       background: url('https://storage.googleapis.com/hokela-bucket/icons/stethoscope.svg');
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: 50% 50%;
//       background-color: #e5e9fb;
//     }
//     &--EnvironmentAnimals {
//       background: url('https://storage.googleapis.com/hokela-bucket/icons/eco-friendly.png');
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: 50% 50%;
//       background-color: #e5e9fb;
//     }
//   }

//   &__right {
//     height: 100%;
//     width: 100%;
//     position: relative;
//   }

//   &__info {
//     height: 50px;
//     width: 100%;
//     position: absolute;
//     bottom: 0px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;

//     p {
//       margin-bottom: 0px;
//       font-family: 'Lato-Light';
//       font-size: 15px;
//       color: $black;
//     }

//     &__left {
//       width: 50%;
//       p {
//         text-align: center;
//       }
//     }
//     &__right {
//       width: 50%;
//       // place-self: flex-end;
//       p {
//         text-align: center;
//       }
//     }
//   }

//   &__button-container {
//     opacity: 0;
//     height: 100px;
//     width: 100%;
//     position: absolute;
//     left: 0px;
//     bottom: 0px;
//     display: inline-flex;
//     align-items: center;
//     padding: 0px 20px;

//     .xbtn {
//       pointer-events: none;
//       &:first-of-type {
//         margin-right: 20px;
//       }
//     }
//   }
// }