.cause-card {
  height: 220px;
  width: 100%;
  background: white;
  box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
  border: solid 1px #f7f9fc;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 42px;
  display: inline-flex;
  position: relative;

  &:hover {
    background: rgba(33, 33, 33, 0.4);
    .cause-card__button-container {
      opacity: 1;
      .xbtn {
        pointer-events: all;
      }
    }
    .cause-card__logo, .cause-card__sector-icon {
      opacity: 0.4;
    }
  }

  &__name {
    font-family: 'Lato-Black';
    font-size: 16px;
    margin: 0px;
    color: #212121;
    margin-bottom: 6px;
  }
  &__org {
    font-family: 'Lato-Regular';
    font-size: 16px;
    margin: 0px;
    color: #212121;
    margin-bottom: 6px;
  }
  &__location {
    font-family: 'Lato-Light';
    font-size: 16px;
    margin: 0px;
    color: #212121;
    margin-bottom: 6px;
  }

  &__left {
    height: 100%;
    width: 90px;
    margin-right: 15px;
    position: relative;
  }

  &__logo {
    height: 100px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__sector-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #e5e9fb;
    position: absolute;
    bottom: 0;
  }

  &__right {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__info {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
      margin-bottom: 0px;
      font-family: 'Lato-Light';
      font-size: 15px;
      color: #212121;
    }

    &__left {
      width: 50%;
      p {
        text-align: center;
      }
    }
    &__right {
      width: fit-content;
      place-self: flex-end;
      p {
        text-align: right;
      }
    }
  }

  &__button-container {
    opacity: 0;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;

    .xbtn {
      pointer-events: none;
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}