.footer {
  height: 90px;
  width: 100%;
  background: #e8e9ed;
  box-shadow: 0 0 6px 0 #afaca9;
  display: inline-flex;
  align-items: center;
  padding: 0px 42px;

  p {
    font-family: "Avenir-Light";
    font-size: 13px;
    color: $black;
    margin: 0;
  }

  &__left {
    height: 100%;
    width: 50%;
    padding-top: 18px;
    padding-bottom: 26px;
    p {
      margin-bottom: 10px;

      &:first-child {
        cursor: pointer;
        width: fit-content;
      }
    }
  }
  &__right {
    height: 100%;
    width: 50%;
    padding-top: 46px;
    padding-bottom: 26px;
    display: inline-flex;
    flex-direction: row-reverse;
  }

  &__icons {
    height: 20px;
    margin-left: 66px;
    display: inline-flex;
  }

  &__icon {
    height: 20px;
    width: 20px;
    background: white;
    margin-left: 12px;
    cursor: pointer;

    &--facebook {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/Facebook.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--instagram {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/Instagram.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &--linkedIn {
      background: url('https://storage.googleapis.com/hokela-bucket/icons/LinkedIn.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}