.page {
  min-height: calc(100vh - 90px);
  width: 100%;
  max-width: 1280px;
  background: #f7f7f7;
  // background: red;
  margin: 0 auto;

  padding-top: 85px;
  padding-right: 80px;
  padding-left: 80px;
}