.page {
  min-height: calc(100vh - 90px);
  width: 100%;
  max-width: 1280px;
  background: #f7f7f7;
  margin: 0 auto;

  padding-top: 85px;
  padding-right: 80px;
  padding-left: 80px;

  &--large {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    background: rgb(245, 245, 245) !important;

    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}