.page {
  min-height: 100vh;
  width: 100%;
  padding-top: 85px;
  padding-bottom: 92px;
  position: relative;

  &--hide-footer {
    padding-bottom: 0px;
  }

  &__header {
    h1 {
      width: 339px;
      height: 55px;
      font-family: $LatoBlack;
      font-size: 40px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.9px;
      color: #2f2e2e;
    }
  }

  &__section {
    background: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 80px;
    padding-left: 80px;
    position: relative;

    &--less-padding {
      padding-top: 30px;
      padding-bottom: 0px;
    }

    &--first {
      padding-top: 30px;
    }

    &--dark {
      background: #e5e9fb;
    }

    &--dark-gradient {
      background: rgb(83,120,149);
      background: linear-gradient(0deg, rgba(83,120,149,1) 0%, rgba(9,32,63,1) 100%);

      .page__section-header {
        h2 {
          color: white !important;
        }
      }
      .page__section-line {
        background: white !important;
      }
    }
  }
  
  &__content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &__section-header {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    h2 {
      height: 49px;
      font-family: "Lato-Light";
      font-size: 36px;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  &__section-icon {
    height: 71px;
    width: 71px;
    // background: white;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__section-line {
    height: 2px;
    width: 45px;
    background: black;
    margin: 0 auto;
    margin-top: 6px;
  }

  .footer {
    position: absolute;
    bottom: 0px;
  }

  &__section-overlay {
    height: 100%;
    width: 100%;
    // background: red;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    // transform: translateX(-12%);
    z-index: 0;
  }
}