.password {
  
  h2 {
    font-family: $LatoBold;
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }
  
  &__toggle {
    font-family: $Lato;
    font-size: 16px;
    color: $black;
    cursor: pointer;
    margin-top: 46px;
  }
}
