
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spinner {
  height: 100%;
  width: 100%;
  // background: white;
  background-image: url("https://storage.googleapis.com/hokela-bucket/companies/hokela%20technologies/logos/hokela_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}