.cookies-modal {
  background: rgba(33, 33, 33, 0.6);
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  height: 100%;
  width: 100%;
  // pointer-events: none;
  
  &__content {
    pointer-events: all;
    display: grid;
    grid-template-columns: auto 112px auto;
    grid-column-gap: 24px;
    width: calc(100% - 160px);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    bottom: 46px;
    background: white;
    box-shadow: 12px 12px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
    background-color: white;
    margin: 0 80px;
  }

  &__message {
    margin-right: 20px;
    p {
      font-family: $Lato;
      font-size: 13px;
      line-height: 1.46;
      letter-spacing: 0.65px;
    }
  }

  .xbtn {
    width: 100%;
  }

  &__deny-btn {
    height: 49px;
    width: 100%;
    display: flex;
    
    p {
      cursor: pointer;
      font-family: $Lato;
      font-size: 13px;
      line-height: 1.46;
      letter-spacing: 0.65px;
      text-decoration: underline;
      display: inline-block;
      align-self: flex-end;
    }
  }
}
