.cookies-modal {
  background: white;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  padding: 20px;

  box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);

  &__deny-link {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: underline;
  }
}
