.bread-crumbs {
  height: 20px;
  margin-bottom: 24px;
  margin-top: 35px;
  display: inline-flex;
  align-items: center;

  &__home {
    margin-right: 12px;
    cursor: pointer;
  }

  &__container {
    height: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
  }

  &__arrow {
    margin-right: 10px;
  }
  
  &__crumb {
    margin: 0px;
    margin-right: 10px;
    font-family: 'Lato-Light';
    font-size: 14px;
    position: relative;
    top: 2px;

    &--active {
      cursor: pointer;
    }

    &:last-of-type {
      font-family: 'Lato-Regular';
      color: black;
    }
  }
}
