.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(66, 242, 255);
  font-size: 3rem;
  min-height: 100vh;
}