@import './styles/navBar.scss';


.app {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &--logged-in {
    background-color: rgba(255, 0, 255, 0.7);
  }
}
