.cause-item {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: rgba(165, 165, 165, 0.3);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.3);
  display: inline-flex;

  &__avatar-container {
    height: 100%;
    margin-right: 20px;
  }

  &__avatar {
    height: 120px;
    width: 120px;
    background: rgba(255, 0, 255, 0.7);
    border-radius: 50%;
  }

  &__content {
    width: 100%;
  }

  &__title {
    margin-bottom: 16px;
    p {
      font-size: 24px;
      font-style: bold;
      margin: 0;
    }
    &--location {
      color: #96272D;
      font-size: 15px !important;
    }
    &--rejected {
      color: #D1603D;
      font-size: 15px;
    }
    &--pending {
      color: rgb(255, 166, 48);
      font-size: 15px;
    }
  }
  &__description {
    margin-bottom: 24px;
    p {
      font-size: 16px;
      font-style: bold;
      margin: 0;
    }
  }

  &__actions {
    text-align: end;
    button {
      margin-right: 16px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  &__submit-btn {
    position: absolute;
    bottom: 8px;
    right: 19px;
    cursor: pointer;
  }

  &__add-cause-btn-container {
    width: 100%;
    display: inline-flex;
    button {
      margin: auto;
    }
  }

}