.our-team {
  margin-bottom: 70px;

  &__section {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 60px;

    p {
      text-align: center;
      font-family: $MontserratSemiBold !important;
      color: $black !important;
      font-size: 18px !important;
      margin-bottom: 30px;
    }
  }

  &__grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 78px;
  }
}