.our-team {
  // background: red;
  // height: 100px;
  margin-bottom: 70px;


  &__section {
    // background: red;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 60px;

    p {
      text-align: center;
      font-family: $MontserratSemiBold !important;
      color: $black !important;
      font-size: 18px !important;
      margin-bottom: 30px;
    }
  }

  &__grid {
    display: grid;

    &--2 {
      grid-template-columns: 256px 256px;
      grid-column-gap: 78px;
    }
    &--3 {
      grid-template-columns: 256px 256px 256px;
      grid-column-gap: 101px;
      // grid-template-columns: calc((100% / 3) - (101px / 2)) calc((100% / 3) - (101px / 2)) calc((100% / 3) - (78px / 2));
      // grid-column-gap: 101px;
    }

  }
}