.banner {
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  top: $navbarHeight;
  opacity: 0;
  pointer-events: none;
  
  display: inline-flex;
  align-items: center;

  transition: left 0.5s, width 0.5s, opacity 1s;
  
  &--active {
    pointer-events: all;
    opacity: 1;
  }

  &__message {
    height: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-family: 'Aktiv Grotesk Medium';
    font-weight: 500;
    margin: 0 auto;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    & > * {
      display: inline-flex;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-right: 20px;

    &--INFO {

    }
    &--ERROR {
      
    }
  }

  &__action {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: underline;
    }
  }

  &__actions {
    // height: 100%;
    // background: red;
    position: absolute;
    right: 50px;
    button {
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__cancel-btn {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }

  &--INFO {
    background: rgb(255, 166, 48);
  }

  &--ERROR {
    background: #D1603D;
    .banner__message {
      color: white;
      & > * {
        color: white;
      }
    }
    .banner__action {
      color: white;
      text-decoration: underline;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    .banner__cancel-btn {
      color: white;
    }
  }
}