.cause {
  height: 100%;
  width: 100%;

  .bread-crumbs {
    height: 31px !important;
  }

  .empty {
    margin-top: 86px;
    // height: calc(100vh - 372px);
  }

  &__banner {
    height: 340px;
    width: 100%;
    background: black;
    position: absolute;
    // top: 175px;
    left: 0px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: inline-flex;
    align-items: center;
    
    &__info {
      height: 100px;
      width: 50%;
      margin: 0 auto;
      position: relative;
      top: -24.5px;

      h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Lato-Black';
        font-size: 40px;
        color: white;
      }

      .xbtn {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }

  &__content {
    padding-top: calc(340px + 80px);
    margin-bottom: 80px;
  }

  &__section {
    width: 100%;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 7px 20px 3px rgba(162, 180, 198, 0.3), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.5);
    border: solid 1px #f7f9fc;
    background-color:rgba(255, 255, 255, 0.5);

    &__list {
      list-style-type: disc;
      margin-bottom: 20px;
      li {
        font-family: $Lato;
        font-size: 15px;
        color: $black;
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0px;
        }
      }

      &--no-style {
        list-style-type: none;

        li {
          .sector-icon {
            margin-right: 15px;
          }
          display: inline-flex;
          align-items: center;
          width: 100%;
        }
      }
    }

    &__div-list {
      &__item {
        display: grid;
        grid-template-columns: 30px auto;
        grid-gap: 15px;
        margin-bottom: 15px;
        
        &:last-child {
          margin-bottom: 0px;
        }

        p {
          padding-top: 7px;
          font-family: $Lato !important;
          font-size: 15px !important;
          color: $black;
          white-space: nowrap;
          text-align: left !important;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .title {
      font-family: "Montserrat-SemiBold";
      font-size: 18px;
      margin-bottom: 15px;
    }

    hr.divider {
      border-top: 1px dashed #979797;
    }

    .table {
      height: 200px;
      width: 100%;
      display: table;

      .cell {
        display: inline-grid;
        width: 50%;
        margin-top: 16px;

        .sector-icon {
          margin: 0 auto;
          margin-bottom: 10px;
        }

        p {
          font-family: 'Lato-Regular' !important;
          color: $black !important;
          margin-bottom: 0px;
        }
      }
    }

    &__icon-container {
      // display: inline-flex;
      // align-items: center;
      width: 100%;
      margin-bottom: 16px;
      margin: 0 auto;
      // justify-content: space-around;
      // gap: 16px;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 50% 50%;

      .sector-icon {
        margin: 0 auto;
      }

      p {
        display: inline-flex;
        align-items: center;
        width: 100%;
        text-align: left;
        font-family: 'Lato-Regular' !important;
        font-size: 15px !important;
        margin-bottom: 0px;
      }
    }

    &__icon {
      height: 90px;
      width: 90px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &--centered {
        margin: 0 auto;
        margin-bottom: 16px;
      }

      background: url('https://storage.googleapis.com/hokela-bucket/icons/computer-24px.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &--Research {
        background: url('https://storage.googleapis.com/hokela-bucket/icons/computer-24px.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &--small {
      .title, p {
        text-align: center;
      }
      p {
        font-family: 'Lato-Bold';
        font-size: 15px;
        color: $black;
      }
      ul {
        padding-left: 16px;
      }
    }
  }

  &__footer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;

    &__buttons {
      height: 49px;
      width: 361px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-column-gap: 20px;
    }

    &__btn-container {
      position: absolute;
      
      p {
        font-family: $Lato;
        font-size: 16px;
        color: $black;
      }

      &--left {
        left: 0px;
      }
      &--right {
        right: 0px;
      }
      &--disabled {
        opacity: 0.4;
      }
    }

    &__btn {
      height: 40px;
      width: 40px;
      background: #5e9aad;
      cursor: pointer;
      border-radius: 10px;
      margin: 0 auto;
      display: grid;
      margin-bottom: 12px;

      .anticon {
        margin: 0 auto;
        align-self: center;
      }
    }
  }
}